@model LEDTest.Models.ViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="main-Content">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "layout-responsive-expand margin-xsmall", enctype = "multipart/form-data", id = "textForm" }))
    {
    @Html.LabelFor(m => m.Text, "Text to send")
    @Html.TextBoxFor(m => m.Text)

    }

</div>